.card_container {
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 30%;
}

.card {
    font-family: sans-serif;
    padding: 25px;
    padding-right: 0px;
    width: 19%;
    float: left;
}

.card:nth-child(even) {
    width: 20%;
}

.card h1 {
    font-weight: lighter;
    line-height: 1.5;
    font-family: serif;
    color: #5a5a5a ;
}

.card p {
    color:#7e7e7e;
    line-height: 1.5;
    margin-bottom: 25px;
}

.card a {
    color: #5a5a5a ;
}

.icon {
    margin-right:5px;
}

.footer {
    height: 100px;
    background-color: #f5f5f5;
}